

body{
    display: flex;
    flex-direction: column;
    
}


h1{
    text-align: center;
    
}
header{
    background-color: blue;
}
main{
    padding-left: 20%;
    padding-right: 20%;
}

h2{
    border-bottom: 5px solid black;
}